@{
    ViewData["Title"] = "Access Denied";
}
<div class="alert alert-warning mt-3">
    <h4 class="alert-heading">Access denied</h4>
    <p>Bạn không có quyền truy cập vào phần trang này.</p>
</div>

